{% extends '_layout.html' %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-nav">
            <a class="nav-link" aria-current="page" href="/">Home</a>
            <a class="nav-link active" href="registrants">Registered Students</a>
        </div>
    </div>
</nav>
<br>
<div class="container">
    <h1>Registered Students</h1>
    <p>The following students have registered for student organizations.</p>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Organization</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry the Bird</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}